[submodule "libunrar"]
	path = libunrar
	url = git@github.com:LiquidFM/libunrar.git
[submodule "libtorrent"]
	path = libtorrent
	url = git@github.com:LiquidFM/libtorrent.git
[submodule "liquiddb"]
	path = liquiddb
	url = git@github.com:LiquidFM/liquiddb.git
